@model IEnumerable<OdeToCode.Models.RestaurantReview>
@{
    ViewData["Title"] = "Index";
}
<h1>THE LATEST REVIEWS</h1>
we are showing the latest @Model.Count() reviews

@foreach (var item in Model)
{
    <partial name="_Review" model="item" />
}
<p>
    <a asp-action="Create">Create New</a>
